html {
    --taupe:      #efefef;
    --royalblue:  #0000B5;
    --red:        rgb(180,15,63);
    --black:      #23232c;
    --h1:       2em;
    --p:        1.4em;
    --footer:   1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EDF67D;
    --serif: -apple-system, BlinkMacSystemFont, Helvetica, mono;
    scroll-behavior: smooth;
    height: 100%;
  
  }

  * {
    box-sizing: border-box;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cursor {
    cursor: none;
  }
  
  .cursor-ch {
    cursor: crosshair;
  }
  
  body {
      font-family: var(--serif);
      margin: 0;
      padding: 0;
    }
  
    .container-fluid {
      width: 650px;
      margin: 0 auto;
      padding: 10px 150px 10px 150px;
      max-height: 1000px;
    }
  
    .hyperlink a,
    .hyperlink a:visited {
      text-decoration: none;
      border-bottom: 2px dotted #EDF67D;
      color: #EDF67D;
      background: inherit;
    }

  
    .hyperlink a:hover {
    text-decoration: #EDF67D underline solid;
    }
  
    .hyperlink:active,
    .hyperlink:focus {
      background: #4335f1;
      color: #EDF67D;
    }

  
   html #errorpage-body {
    padding: 0;
    height: 100%;
    width: 20rem;
    margin-left: auto ;
    margin-right: auto;
  }
  
   #errorpage-body  {
    position: fixed;
    display: flex; 
    align-items: center;
  }
  
    .error-message {
      
      margin-left: auto ;
      margin-right: auto;
      width: 100%;
    }
  
    .error-message > h2{
      background-color: #4335f1;
      color: #EDF67D;
      padding: 25px 15px 25px 25px;
      /* margin: 2em; */
      font-size: 2rem;
      line-height: 1.2;
    } 
  
  
  
  
    
  